.footer {
  color: #fff;
  padding: 2rem 0;
  width: 100%; 
}

body{
  background-color: #333;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #333; 
}

.footer-logo {
  max-width: 100px;
}

.footer-text {
  color: #ccc;
  line-height: 1.6;
  margin-left: 1rem;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer ul li {
  color: #ccc;
}

.footer i {
  color: #00FFFF;
}

hr.my-4 {
  margin: 0;
  margin-block-start: 0;
  color: #fff;
}

.footer .text-center p {
  margin: 0;
  color: #ccc;
}

.text-light {
  color: #ccc !important;
  margin: 0;
}

.icon-size {
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: #007bff;
}

.about{
  margin: 20px 0 0 0;
}

.row.justify-content-between {
  margin-bottom: 1rem; 
}

.row .col-md-6 {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
