.footer {
    padding: 20px 0; /* Ajuste o padding conforme necessário */
    background-color: #f0f0f0; /* Cor de fundo do footer */
    color: #333; /* Cor do texto do footer */
    text-align: center; /* Centralizar o texto */
  }
  