body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  margin-top: auto;
  background-color: #f0f0f0;
  color: #333;
}

.footer-info {
  padding: 20px 0;
}

.footer-social-media .img-placeholder {
  width: 30px;
  height: 30px;
  background-color: #555;
  margin-right: 10px;
}

.footer-social-media .social-media-icon {
  width: 100%;
  height: auto;
}

.footer-logo {
  max-width: 100px;
}

.bg-dark {
  background-color: #343a40 !important;
}

.text-white {
  color: #fff !important;
}

.img-placeholder {
  width: 40px; /* ajuste conforme necessário */
  height: 40px;
  border-radius: 50%;
}

.social-media-icon {
  color: #fff; /* Cor do ícone */
  font-size: 20px; /* Tamanho do ícone */
}
