<div class="footer-info row py-5 m-0 bg-dark text-white ">
  
  <div class="col-12 col-lg-2 mb-4 mb-lg-0">
    <div class="footer-brand d-flex">
      <img src="assets/logo.png"alt="Logo" class="footer-logo">
    </div>
  </div>

  <div class="col-12 col-lg-6 mb-4 mb-lg-0">
    <div class="footer-brand d-flex">
      <h3 class="mb-0 align-self-center footer-brand">ByteBaazar</h3>
    </div>
    <div class="footer-info-text mt-3">
      ByteBaazar® | CNPJ: 00.100.700/0000-00 | Todos os direitos reservados. Os preços anunciados são ficticios. O ByteBaazar não é responsável por erros descritivos.
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <h5 class="footer-section-title my-3">Contato</h5>
    <div class="footer-info-text mt-3">
      <p class="mb-0"> Av. Marginal, 585 - Fazenda Nossa Senhora Aparecida do Jaguari, 13871-298 </p>
      <p class="mb-2"> São João da Boa Vista - SP, Brasil </p>
      <p class="mb-0"> <b>E-mail: </b> athlanticemail.com </p>
      <p class="mb-0"> <b>Fone: </b>(19) 99999-9999</p>

      <div class="footer-social-media d-flex mt-3">
        <div class="me-2 img-placeholder d-flex rounded-circle">
          <img src="../assets/img/twitter.svg" alt="Youtuber" fill="#FFFFFF" class="social-media-icon mx-auto">
        </div>
        <br>
        <div class="img-placeholder d-flex rounded-circle">
          <img src="../assets/img/discord.svg" alt="LinkedIn" fill="#FFFFFF" class="social-media-icon mx-auto">
        </div>
        <br>
        <div class="img-placeholder d-flex rounded-circle">
          <img src="../assets/img/discord.svg" alt="Twitter" fill="#FFFFFF" class="social-media-icon mx-auto">
        </div>
      </div>
    </div>
  </div>

</div>
<div class="footer-copyright d-flex flex-column flex-lg-row align-items-center text-center bg-dark text-white">
  <div class="footer-copyright-text">
      <div class=" footer-copyright-text mt-3" style="font-size: 14px;">ByteBaazar® | Dev. Gustavo Marques Scovini</div>
  </div>
</div>
