<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-6 col-lg-5">
        <img src="../../assets/login.svg" class="img-fluid" alt="Login image">
      </div>
      <div class="col-md-6 col-lg-5">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h3 class="text-center mb-4">FAZER LOGIN</h3>
          <div class="form-outline mb-4">
            <input type="email" id="email" formControlName="email" class="form-control form-control-lg"
              placeholder="Digite seu email" required />
          </div>
          <div class="form-outline mb-3">
            <input type="password" id="password" formControlName="password" class="form-control form-control-lg"
              placeholder="Digite sua senha" required />
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" id="rememberMe" />
              <label class="form-check-label" for="rememberMe">
                Lembrar de mim
              </label>
            </div>
            <a href="#!" class="text-body">Esqueceu a senha?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg w-100">Entrar</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Não tem uma conta? <a [routerLink]="['/register']"
                class="link-primary">Registrar</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>