.custom-navbar {
  background-color: #6779C8;
}

.search-form .form-control {
  border-radius: 25px;
}

.custom-btn {
  background-color: #ffffff;
  color: #3a4781;
  border: none;
  padding: 5px 10px;
  border-radius: 25px;
}

.custom-btn:hover {
  background-color: #3a4781;
  color: #fff;
}

.nav-link.custom-login {
  color: #fff !important;
  font-size: 0.6rem; 
  text-align: center; 
  white-space: normal; 
}

.text-white {
  color: white; 
}

.navbar-brand img.logo-white {
  background-color: #ffffff; 
  border-radius: 0; 
}

.user-icon {
  margin-right: 5px;
}

.login-section {
  margin-left: 20px; 
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  flex-grow: 1;
  width: 50%; 
  max-width: 700px; 
}

@media (min-width: 992px) {
  .navbar-nav {
    flex-direction: row;
  }
}
