.section-header .navbar {
  margin-bottom: 0;
}

.navbar{
  background-color: #6779C8;
}

.section-header .navbar .logo {
  max-height: 70px; /* ajuste conforme necessário */
}

.section-header .navbar-brand {
  font-size: 1.5rem;
  color: #fff;
}

.section-header .navbar-brand:hover {
  color: #fff;
  text-decoration: none;
}

.image-below-header {
  text-align: center; /* Alinha a imagem ao centro */
  /* Espaço acima da imagem */
}

.below-header-image {
  max-width: 100%;    /* Garante que a imagem não ultrapasse a largura do contêiner */
  height: auto;       /* Mantém a proporção da imagem */
}

