<div class="container mt-4 flex-grow-1">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center mb-4">Produtos</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let product of products">
      <div class="card h-100" (click)="goToProduct(product.id)">
        <div class="rating mb-2">
          <i class="fa fa-star" *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" [ngClass]="{'checked': i < product.rating}"></i>
        </div>
        <img class="card-img-top" [src]="'http://localhost:3000/uploads/' + product.image" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <div class="card-text">
            <p class="text-muted text-decoration-line-through">R$ {{ product.price | number:'1.2-2' }}</p>
            <p class="text-primary">R$ {{ product.priceWithPixDiscount | number:'1.2-2' }} <small>à vista no PIX</small></p>
            <p class="text-muted small">ou em até 10x de R$ {{ product.priceWithPixDiscount | number:'1.2-2' }} sem juros</p>
          </div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-custom w-100" (click)="addToCart(product); $event.stopPropagation()">
            <i class="fa fa-shopping-cart me-2"></i>Adicionar ao Carrinho
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
