.sale-btn {
    border-radius: 20px; 
    background-color: #6779C8; 
    color: white;
    font-weight:bold; 
    border: none; 
  }
  
  .sale-btn:hover {
    background-color:#3a4781; 
  }

  .custom-text {
    font-size: 25px;
    font-weight: bold; 
    color:black;
    margin-left: 10px;
    vertical-align:middle; 
  }

/* src/app/product-list/product-list.component.css */
.product-image-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente (se necessário) */
  width: 100%; /* Certifique-se de que o contêiner ocupa toda a largura disponível */
}

.product-image {
  max-width: 60%; /* Define a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
}

  .star-rating {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .star {
    font-size: 20px;
    color: lightgray;
  }
  
  .star.filled {
    color: black;
}