
<div *ngIf="product" class="container my-5">
    <div class="row">
        <!-- Imagem do Produto -->
        <div class="col-md-6 mb-8">
            <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image img-fluid">
        </div>

        <!-- Informações do Produto -->
        <div class="col-md-6">
            <!-- Nome do Produto -->
            <h1 class="product-name">{{ product.name }}</h1>
            
            <!-- Rating Section -->
            <div class="d-flex align-items-center mb">
                <div class="star-rating me-2">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                </div>
                <span class="rating-value">(4.6)</span>
            </div>

            <p class="d-inline product-info">
                Vendido e entregue por: <strong>ByteBaazar</strong> |
                <span class="text-success"><strong>Em estoque</strong></span>
            </p>
            <p class="product-description">{{ product.description }}</p>

            <!-- Preço e Botões -->
            <div class="d-flex align-items-start mb-4">
                <div class="me-4">
                    <p class="product-price mb-0">
                        <span class="price-amount">R$ {{ priceWithDiscount }}</span>
                    </p>
                    <p class="price-promotion">
                        À vista no PIX com até <strong>10% OFF</strong>
                    </p>
                    <p class="price-discount">
                        <span class="discount-price">R$ {{ product.price }}</span>
                    </p>
                    <p>Em até 10x de R$: {{ priceInstallment }} sem juros no cartão</p>
                </div>
                <div class="d-flex flex-column">
                    <button class="btn btn-success btn-lg mb-2">
                        <i class="fas fa-credit-card me-2"></i> COMPRAR
                    </button>
                    <button class="btn btn-primary btn-lg" (click)="addToCart()">
                        <i class="fas fa-shopping-cart me-2"></i> ADICIONAR AO CARRINHO
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>