<div *ngIf="product" class="container my-5">
    <div class="row">
      <div class="col-md-4 mb-10">
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image img-fluid">
      </div>
      <div class="col-md-6">
        <h1 class="product-name">{{ product.name }}</h1>
  
        <div class="d-flex align-items-center mb-2">
          <div class="star-rating me-2">
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star"></i>
          </div>
          <span class="rating-value">(4.7)</span>
        </div>
  
        <p class="d-inline product-info">
          Vendido e entregue por: <strong>ByteBaazar</strong> |
          <span class="text-success" *ngIf="!isOutOfStock"><strong>Em estoque</strong></span>
          <span class="text-danger" *ngIf="isOutOfStock"><strong>Fora de estoque</strong></span>
        </p>
  
        <p class="product-description">{{ product.description }}</p>
  
        <div class="d-flex align-items-start mb-4">
          <div class="me-4">
            <p class="price-discount">
              <span class="discount-price text-muted text-decoration-line-through">R$ {{ product.price }}</span>
            </p>
            <p class="product-price mb-0">
              <span class="price-amount">R$ {{ priceWithDiscount }}</span>
            </p>
            <p class="price-promotion">
              À vista no PIX com até <strong>10% OFF</strong>
            </p>
  
            <p>Ou em até 10x de R$ {{ priceInstallment }} sem juros no cartão</p>
          </div>
  
          <!-- Botões de ação -->
          <div class="d-flex flex-column">
            <button class="btn btn-success btn-lg mb-2" [disabled]="isOutOfStock">
              <i class="fas fa-credit-card me-2"></i> COMPRAR
            </button>
            <button class="btn btn-primary btn-lg" (click)="addToCart()" [disabled]="isOutOfStock">
              <i class="fas fa-shopping-cart me-2"></i> ADICIONAR AO CARRINHO
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  