<app-nav></app-nav>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center mb-4">
        <h2>CRIAR CONTA</h2>
      </div>
      <div class="card">
        <div class="card-body">
          <hr>
          <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" formControlName="nome" placeholder="Nome completo*" required>
                <div *ngIf="cadastroForm.get('nome')?.invalid && (cadastroForm.get('nome')?.dirty || cadastroForm.get('nome')?.touched)">
                  <div *ngIf="cadastroForm.get('nome')?.errors?.['required']">Nome é obrigatório.</div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" formControlName="cpf" placeholder="CPF*" required>
                <div *ngIf="cadastroForm.get('cpf')?.invalid && (cadastroForm.get('cpf')?.dirty || cadastroForm.get('cpf')?.touched)">
                  <div *ngIf="cadastroForm.get('cpf')?.errors?.['required']">CPF é obrigatório.</div>
                  <div *ngIf="cadastroForm.get('cpf')?.errors?.['invalidCpf']">CPF inválido.</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <input type="date" class="form-control" formControlName="dataNascimento" required>
                <div *ngIf="cadastroForm.get('dataNascimento')?.invalid && (cadastroForm.get('dataNascimento')?.dirty || cadastroForm.get('dataNascimento')?.touched)">
                  <div *ngIf="cadastroForm.get('dataNascimento')?.errors?.['required']">Data de nascimento é obrigatória.</div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="E-mail*" required>
                <div *ngIf="cadastroForm.get('email')?.invalid && (cadastroForm.get('email')?.dirty || cadastroForm.get('email')?.touched)">
                  <div *ngIf="cadastroForm.get('email')?.errors?.['required']">E-mail é obrigatório.</div>
                  <div *ngIf="cadastroForm.get('email')?.errors?.['email']">E-mail inválido.</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <input type="password" class="form-control" formControlName="senha" placeholder="Crie sua senha*" required>
                <div *ngIf="cadastroForm.get('senha')?.invalid && (cadastroForm.get('senha')?.dirty || cadastroForm.get('senha')?.touched)">
                  <div *ngIf="cadastroForm.get('senha')?.errors?.['required']">Senha é obrigatória.</div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <input type="password" class="form-control" formControlName="confirmaSenha" placeholder="Confirme sua senha*" required>
                <div *ngIf="cadastroForm.get('confirmaSenha')?.invalid && (cadastroForm.get('confirmaSenha')?.dirty || cadastroForm.get('confirmaSenha')?.touched)">
                  <div *ngIf="cadastroForm.get('confirmaSenha')?.errors?.['required']">Confirmação de senha é obrigatória.</div>
                  <div *ngIf="cadastroForm.errors?.['mismatch']">As senhas não correspondem.</div>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <select class="form-control" formControlName="genero">
                <option value="" disabled selected>Gênero**</option>
                <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
                <option value="outro">Outro</option>
                <option value="naoInformar">Não informar</option>
              </select>
            </div>
            <div class="form-group mb-3">
              <input type="tel" class="form-control" formControlName="telefone" placeholder="Telefone celular*" required>
              <div *ngIf="cadastroForm.get('telefone')?.invalid && (cadastroForm.get('telefone')?.dirty || cadastroForm.get('telefone')?.touched)">
                <div *ngIf="cadastroForm.get('telefone')?.errors?.['required']">Telefone é obrigatório.</div>
                <div *ngIf="cadastroForm.get('telefone')?.errors?.['invalidPhone']">Telefone inválido.</div>
              </div>
            </div>
            <div class="form-check mb-3">
              <input type="checkbox" class="form-check-input" formControlName="ofertas" id="ofertas">
              <label class="form-check-label" for="ofertas">Quero receber ofertas e novidades por e-mail</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="cadastroForm.invalid">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>